body
{
    background:#000;
    color:#fff;
    padding:0;
    margin:0;
    overflow:hidden;
    font-family:Helvetica, Arial, sans-serif;
    text-align:center;
    background-color: #f0f0f0;
}

a
{
    color:skyblue;
    text-decoration:none
}

input
{
    width: 50px;
}

table
{
    width: 100%;
}

canvas
{
    pointer-events:none;
    z-index:10;
    position:relative;
}

#left_sidebar
{
    width: 200px;
    height: 150px;
    position: absolute;
    left: 25px;
    bottom: 50px;
    text-align: center;
    z-index: 1000;
}

#right_sidebar
{
    width: 200px;
    height: 150px;
    position: absolute;
    right: 15px;
    bottom: 50px;
    text-align: center;
    z-index: 1000;
}

#debug
{
    width: 100%;
    background-color: #191970;
    height: 175px;
    border-radius:25px;
    z-index: 10000;
    position: absolute;
    top:-150px;
    margin-top: -25px;
}

#container
{
    top:0;
    left:0;
    position: absolute;
    
}

#showdebug
{
    position: absolute;
    top: 183px;
    right: 80px;
}

#status
{
    color: black;
    width: 200px;
    height: 150px;
    position: absolute;
    left: 85px;
    top: 60px;
    text-align: center;
    z-index: 1000;
}


#chatdock
{
    color: black;
    width: 250px;
    height: 200px;
    position: absolute;
    right: 0;
    top: 60px;
    z-index: 1000;
    overflow-y: hidden;
    text-align: left;
    overflow-x: hidden;
    background-color: rgba(0, 0, 0, 0.5);
}

#button_tray
{
    position: absolute;
    left: 10px;
    top: 50px;
    z-index: 1000;
    color: black;

}

.button
{
	width: 40;
	height: 40px;
}

#message
{
    width: 100%;
    height: 20px;
    opacity: .8;
}

#chatbox
{
    color: white;
    font-size: 12px;
    height: 174px;
    overflow-x: hidden;
    overflow-y: scroll;

}



.hudset
{
    position: absolute;
    bottom: 0;
}

.bill_box
{
    position: absolute;
}

.money
{
    box-shadow: 5px 5px 5px #888888;
    border: 1px solid black;
    opacity:1.0;
    width: 150px;
    bottom: 0;
    position: absolute;
}

.indent
{
    margin-left: -10px;
}
/**
.deed
{ 
    border: 1px solid black;
    box-shadow: 5px 5px 5px #888888;
    width: 150px;
    bottom: 0;
    z-index: 10;
    position: absolute;
}**/

.deed
{
    color: black;
    background-color: white;
    padding: 4px;
    font-family: Times, Times New Roman;
    font-size: 12px;
    width: 170px;
    position: absolute;
    box-shadow: 5px 5px 5px #888888;
    border: 1px solid black;

}

.titleHead
{
    font-size: 10px;
}

.inner_deed
{
    background-color: white;
    border: 0px solid black;
    padding: 0px;
    height: 40px;
    font-size: 14px;
}

.outer_deed
{
    background-color: white;
    padding: 4px;
  /* display: none;*/
}

#land_box
{
    position: absolute;
    bottom: 185px;
}

.footer
{
    font-size: 6px;
}

.deed_tab
{
    padding: 2px;
    margin-left:9px;
    width: 100%;
    text-align:left;
}

.deed_tab > td
{
    padding: 0px;
}

.utility
{
    
}

#topbar
{
    background-color: black;
    width: 100%;
    height: 20px;
    text-align: left;
    padding: 10px;
}

.com_chest_display{
 border: 1px solid black;
 width: 250px;
 height: 100px;
 background-color:yellow;
 position: absolute;
 right: 50px;
 z-index: 100000;
 top: 200px;
 }

.com_chest_display p{
  color:black;
  text-align:left;
 }
 
.chance_display{
 border: 1px solid black;
 width: 250px;
 height: 100px;
 background-color:red;
 position: absolute;
 right: 50px;
 z-index: 100000;
 top: 200px;
}

.chance_display p {
  color:black;
  text-align:left;
}