<script src="/javascripts/jquery.min.js"></script>
<script src="/javascripts/contactsend.js"></script>
<div id="main_content">
    
        <div id="middle_banner">
            <div class="middle_banner_content">
            </div>
        </div>
                
                <div id="contact_form">
                    <h1>Contact Form</h1>
                    <form name="contact_form" id="contact" method="post">
                        <label class="contact_form">Email:</label>
                        <input type="text" name="message" id="email" class="contact_input"/>
                        <label class="contact_form">Subject:</label>
                        <input required type="text" id="subject" class="contact_input" />
                        <div class="cleardiv"></div>
                        <div class="cleardiv"></div>
                        <label class="contact_form">Message:</label>
                        <textarea id="textbox" name="text" cols="" rows="" class="contact_textarea"></textarea>
                        <div class="cleardiv"></div>
                        <div class="login_row">
                        <button class="submission" required type="submit">Send</button>
                        </div>
                        </form> 
            
               </div>
               
        <div id="footer" />
    </div>