<div id="main_content">
    
        <div id="middle_banner">
            <div class="middle_banner_content">
            </div>
        </div>
                
                <div id="contact_form">
                    <h1>Contact Form</h1>
                        <label class="contact_form">Name:</label>
                        <input type="text" name="user" class="contact_input" />
                        <div class="cleardiv"></div>
                        <label class="contact_form">Email:</label>
                        <input type="text" name="payuity"  class="contact_input"/>
                        <div class="cleardiv"></div>
                        <label class="contact_form">Message:</label>
                        <textarea name="text" cols="" rows="" class="contact_textarea"></textarea>
                        <div class="cleardiv"></div>
                        <div class="login_row">
                        <button class="submission">Send</button>
                        </div>    
            
               </div>
               
        <div id="footer" />
    </div>