<link rel="stylesheet" type="text/css" href="/stylesheets/hub.css" />
<script src="javascripts/jquery.min.js"></script>
<div id="main_content">
	<div id="welcome_message">
		<h1>Pre-game Lobby</h1>
	</div>
	<div id="middle_banner">

	</div>

	<div id="left_content">
		<h1>Players</h1>
		<div class="login_form">
			<SELECT id="friend_list" NAME="friend_list" SIZE="5" MULTIPLE ></SELECT>
			
		</div>

	</div>

	<div id="right_content"> 
		<h1>Pre-Game Chat:</h1>
		<div id="games_menu">                                     
			
		</div>
		
		
	</div>
	<div id="footer" />
</div>