<link rel="stylesheet" type="text/css" href="/stylesheets/hub.css" />
<script src="javascripts/jquery.min.js"></script>
<script type="text/javascript"
    src="javascripts/handlebars-1.0.rc.1.min.js"></script>
    <script src="javascripts/lobbyfunctions.js"></script>
<div id="main_content">
	<div id="welcome_message">
		<h1>Server Game List</h1>
	</div>
	<div id="middle_banner">

	</div>

	
		<h1>Game list</h1>
		<div id="game_container">
		<script id="game_template" type="text/x-handlebars-template">
        <div id="games_menu">                                     
            {{#if games}}
            <ul class='games_list'>
            {{#each games}}
            <li><a href='/addplay-{{gameID}}'>Players:{{#each players}} {{this}} | {{/each}}
            Current Player turn: {{currentPlayer}}
           </a></li></br>
            {{/each}}
            </ul>
            {{else}}There are no games being played at this time.
            {{/if}}
            </div>
            </script>
            </div>


	<div id="footer" />
</div>