
    <div id="main_content">
    
    	<div id="middle_banner">
        </div>
        
        
        <div id="left_content">
        <h1>Monopoly</h1>
        <p>
        Compete against your friends in the fast-dealing property trading game of Monopoly! Buy properties, charge rent, and build your own personal empire. Don't go to jail and don't go broke! Hours and hours of fun! Register for free now and start playing right away!
        </p>     
        

        </div>
    
        <div id="right_content"> 
        	<div class="login_form">
            <h1>Login</h1>
            <form name="login_form" id="login_form" action="/login/" method="post">
            <div class="login_row">
            <label class="login">Account:</label>
            <input required type="text" class="login_input" name="loginname" />
            </div>
             <div class="login_row">
            <label class="login">Password:</label>
            <input required type="password" class="login_input" name="loginpass" />
            </div>           
              <div class="login_row">
            <a href="#">Forgot account/password?</a>
			<button class="submission" required type="submit" value="Login">Login</button>
            </div>             
            </div>
            </form>
        </div>
        <div id="footer" />
