
    <div id="main_content">
    
    	<div id="middle_banner">
        </div>
        
        
        <div id="left_content">
        <h1>Monopoly</h1>
        <p>
        Compete against your friends in the fast-dealing property trading game of Monopoly! Buy properties, charge rent, and build your own personal empire. Don't go to jail and don't go broke! Hours and hours of fun! Register for free now and start playing right away!
        </p>     
        

        </div>
    
        <div id="right_content"> 
        	<div class="login_form">
            <h1>Login</h1>
            
            <div class="login_row">
            <label class="login">Account:</label>
            <input type="text" class="login_input" />
            </div>
             <div class="login_row">
            <label class="login">Password:</label>
            <input type="password" class="login_input" />
            </div>           
              <div class="login_row">
            <a href="#">Forgot account/password?</a>
			<button class="submission">Login</button>
            </div>             
            </div>
        </div>
        <div id="footer" />
