<!DOCTYPE html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=windows-1252" />
<title><%= title %></title>
<link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
</head>

<body>

<div id="main_container">
  <div id="header">
    <div class="logo">
    </div>
    </div>    
            <div id="menu_tab">                                     
                    <ul class="menu">                                                                               
                         <li><a href="/login/" class="nav"> Login </a></li>
                         <li class="divider"></li>
                         <li><a href="/register/" class="nav"> Register</a></li>
                         <li class="divider"></li>
                         <li><a href="/screenshots/" class="nav"> Screenshots</a></li>
                         <li class="divider"></li>
                         <li><a href="/contact/" class="nav"> Contact </a></li>

                    </ul>
            </div> 
            
<%- body %>

</body>
</html>