
 <script src="/javascripts/validation.js"></script>

 <div id="main_content">

  <div id="middle_banner">
   <div class="middle_banner_content">
   </div>
  </div>

   <div class="registration_form">
    <form name="registration_form" id="registration_form" action="/register" onsubmit="return validateForm(this);" method="post">
    <h1>Registration</h1>
     <div class="login_row">
      Username: <span class="star">*</span> <input required type="text" id="username" name="username" />
     </div>
     <div class="login_row">
      Password: <span class="star">*</span> <input required type="password" id="userpass" name="userpass" />
     </div>
     <div class="login_row">
      Confirm Password: <span class="star">*</span> <input required type="password" id="password_repeat" name="password_repeat" />
     </div>
     <div class="login_row">
      Email Address:<span class="star">*</span> <input required type="text" id="useremail" name="useremail" />
     </div>
     <div class="login_row">
      Confirm Email Address:<span class="star">*</span> <input required type=""text" id="useremail_repeat" name="useremail_repeat" />
     </div>
     <div class="login_row">
      <button class="register" required type="submit" value="Register">Register</button>
     </div>
     </form>
     </div>
     <div id="footer" />